<div aria-hidden="true" style="position:absolute;left:-9999px;width:1px;height:1px;overflow:hidden;">
  <!-- LM mirror only — do not include quiz/contact merge fields. -->
  <form
    action="https://life.us4.list-manage.com/subscribe/post?u=41960bde0a78c656a84bb759b&amp;id=d3d64ba831"
    method="post"
    target="nb-lm-mc-target"
    id="nb-lm-mc"
    novalidate
  >
    <input type="hidden" name="u" value="41960bde0a78c656a84bb759b">
    <input type="hidden" name="id" value="d3d64ba831">
    <input type="email" name="EMAIL" id="nb-lm-mc-email">
    <input type="text" name="FNAME" id="nb-lm-mc-fname">
    <input type="text" name="LNAME" id="nb-lm-mc-lname">
    <input type="hidden" name="tags" value="leadmagnet:connections_guide,source:widget">
    <input type="submit" value="Subscribe">
  </form>
  <iframe name="nb-lm-mc-target" id="nb-lm-mc-target" title="Mailchimp submit" hidden></iframe>
</div>
